<p style="color: green"><%= notice %></p>

<% content_for :title, "Orders" %>

<div class="level">
  <div class="level-left">
    <h1 class="title is-1">Orders</h1>
  </div>
  <div class="level-right">
    <%= button_to "Grab unfilled Manapool Orders",
    orders_grab_manapool_unfilled_path,
    class: "button is-link mr-4" %>
    <%= button_to "Grab all Manapool Orders",
    orders_grab_manapool_all_path,
    class: "button is-warning" %>
  </div>
</div>

<%= form_with url: orders_path, local: true, method: :get do |form| %>
  <div class="field">
    <%= form.label "Hide Shipped orders", class: "label" %>
    <div class="control">
      <%= check_box_tag :hide_shipped_orders, "1", params[:hide_shipped_orders] == '1', onchange: 'this.form.requestSubmit()', class: "checkbox" %>
    </div>
  </div>
<% end %>

<%= form_with url: orders_pull_selected_path, local: true, data: {controller: "checkbox pagy-initializer"} do |form| %>
  <%= form.submit "Pull Selected Orders", class: "button is-primary mt-4" %>
  <div class="is-flex is-align-items-center my-4 ">
    <%= label_tag "Select All", nil, class: "label mb-0 mr-2" %>
    <%= check_box_tag "Select All",
    "",
    false,
    id: "select-all",
    data: {
      "checkbox-target": "toggle",
      action: "click->checkbox#toggleAll",
    } %>
  </div>
  <%== pagy_limit_selector_js(@pagy) %>
  <%== pagy_bulma_nav(@pagy) %>
  <div class="columns is-multiline mt-4" id="orders">
    <% @orders.each do |order| %>
      <%= render order %>
    <% end %>
  </div>
<% end %>
