<div
  class="modal card-quick-view"
  data-card-quick-view-id="<%= card.id %>"
  data-controller="quick-view"
>
  <div class="modal-background" data-action="click->quick-view#close"></div>
  <div class="modal-content">
    <div>
      <% if card.metadata.image_uris.length > 0 %>
        <%= image_tag card.metadata.image_uris["png"], class: "image" %>
      <% elsif card.metadata.front_image_uris.length > 0 %>
        <%= image_tag card.metadata.front_image_uris["small"], class: "image" %>
      <% else %>
        <p>No Image Found</p>
      <% end %>
    </div>
    <div class="is-flex is-flex-direction-column">
      <p><b><%= card.metadata.set_name %></b></p>
      <%= form_with model: card do |form| %>

        <div class="field">
          <%= form.label :quantity %>
          <div class="control">
            <%= form.number_field :quantity ,min: 1 %>
          </div>
        </div>


        <div class="field">
          <%= form.label :foil %>
          <div class="control">
          </div>
        </div>
        <div class="field">
          <%= form.label :condition %>
          <div class="control">
          </div>
        </div>
        <div class="field">
          <%= form.label :inventory_location %>
          <div class="control">
          </div>
        </div>

      <% end %> 
    </div>

  </div>
</div>
