<div
  class="modal card-quick-view"
  data-card-quick-view-id="<%= card.id %>"
  data-controller="quick-view"
>
  <div class="modal-background" data-action="click->quick-view#close"></div>
  <div class="modal-content is-flex is-align-items-center" style="width: 60%;">
    <div>
      <% if card.metadata.image_uris.length > 0 %>
        <%= image_tag card.metadata.image_uris["png"], class: "image" %>
      <% elsif card.metadata.front_image_uris.length > 0 %>
        <%= image_tag card.metadata.front_image_uris["small"], class: "image" %>
      <% else %>
        <p>No Image Found</p>
      <% end %>
    </div>
    <div class="is-flex is-flex-direction-column ml-4">
      <div>
        <%= form_with url: inventory_cards_pull_item_path do |form| %>
          <%= form.hidden_field :card_id, value: card.id %>
          <%= form.number_field :pull_quantity,
                            value: 1,
                            min: 1,
                            max: card.quantity,
                            class: "input" %>
          <%= form.submit "Pull",
                      class: "button is-warning is-medium",
                      data: {
                        action: "click->quick-view#unClip",
                      } %>
        <% end %>
      </div>
      <p><%= card.metadata.name %></p>
      <p><b><%= card.metadata.set_name %></b></p>
      <%= form_with model: card do |form| %>

        <div class="field level">
          <%= form.label :quantity, class: "label" %>
          <div class="control">
            <%= form.number_field :quantity, min: 1, class: "input" %>
          </div>
        </div>

        <div class="field is-flex is-align-items-flex-start">
          <%= form.label :foil, class: "label mr-2" %>
          <div class="control">
            <%= form.select :foil, [["Foil", true], ["Normal", false]] %>
          </div>
        </div>
        <div class="field" data-controller="choices">
          <%= form.label :condition, class: "label" %>
          <div class="control">
            <%= form.select :condition,
                        Inventory::Card.conditions.map { |c, i| [c.titleize, c] } %>
          </div>
        </div>

        <% unless card.staged %>
          <div class="field" data-controller="choices">
            <%= form.label :inventory_location, class: "label" %>
            <div class="control">
              <%= form.select :inventory_location_id, locations.map { |loc| [loc.label, loc.id] } %>
            </div>
          </div>
        <% end %>

        <div class="mt-4">
          <%= form.submit "Save",
                      class: "button is-large is-primary",
                      data: {
                        action: "click->quick-view#unClip",
                      } %>
        </div>
      <% end %>

      <%= form_with url: inventory_card_path(card), method: :delete, class: "mt-6"  do |form| %>
        <%= form.submit "Delete",
                    class: "button is-large is-outlined is-danger",
                    data: {
                      action: "click->quick-view#unClip",
                      turbo_confirm: "Are you sure you want to delete this card?",
                    } %>
      <% end %>
    </div>

  </div>
</div>
