<p style="color: green"><%= notice %></p>

<% content_for :title, "Cards" %>

<h1 class="title is-1 has-text-centered">Cards</h1>

<%= form_with url: '/inventory/cards/upload_csv', multipart: true, method: :post do |form| %>
  <div class="field">
    <%= form.label "Upload and Add Inventory", class: "label" %>
    <div class="control">
      <%= form.file_field :csv, accept: "text/csv", class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= form.label "Stored location", class: "label" %>
    <div class="control">
      <%= form.select :card_location, Tag.where(kind: 0).collect {|t| [t.value.humanize, t.id]} %>
    </div>
  </div>
  <div>
    <%= form.submit "Upload", class: "button is-primary has-text-offwhite" %>
  </div>
<% end %>

<%#displaying cards%>
<%#<div>%>
<%#  <% Inventory::Card.all.each do |card|%>%>
<%#    <%= image_tag card.metadata.image_uris["small"] %>%>
<%#  <% end %>%>
<%#</div>%>

