<p style="color: green"><%= notice %></p>

<% content_for :title, "Staging" %>

<h1 class="title is-1 has-text-centered">Cards</h1>

<div class="columns is-centered">
  <div class="column is-one-third has-text-centered">
    <%= form_with url: '/inventory/cards/process_import_for_staging', multipart: true, method: :post do |form| %>
      <div class="field">
        <%= form.label "Upload and Add Inventory", class: "label" %>
        <div class="control">
          <%= form.file_field :csv, accept: "text/csv", class: "input" %>
        </div>
      </div>
      <div>
        <%= form.submit "Upload", class: "button is-primary has-text-offwhite" %>
      </div>
    <% end %>
  </div>

  <div class="column is-one-third has-text-centered">
    <%= form_with url: '/inventory/cards/delete_from_csv', multipart: true, method: :post do |form| %>
      <div class="field">
        <%= form.label "Remove Inventory", class: "label" %>
        <div class="control">
          <%= form.file_field :csv, accept: "text/csv", class: "input" %>
        </div>
      </div>
      <div class="field">
        <%= form.label "Stored location", class: "label" %>
        <div class="control">
          <%= form.select :location,
                      Tag.where(kind: 0).collect { |t| [t.value.humanize, t.id] } %>
        </div>
      </div>
      <div>
        <%= form.submit "Remove", class: "button is-primary has-text-offwhite" %>
      </div>
    <% end %>

  </div>
</div>

<% if !flash[:messages].nil? && !flash[:messages].empty?  %>
  <%= flash[:messages] %>
<% end %>

