<div id="<%= dom_id card_metadatum %>">
  <p>
    <strong>Scryfall:</strong>
    <%= card_metadatum.scryfall_id %>
  </p>

  <p>
    <strong>Tcgplayer:</strong>
    <%= card_metadatum.tcgplayer_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= card_metadatum.name %>
  </p>

  <p>
    <strong>Mana cost:</strong>
    <%= card_metadatum.mana_cost %>
  </p>

</div>
