<%= form_with(model: card_metadatum) do |form| %>
  <% if card_metadatum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card_metadatum.errors.count, "error") %> prohibited this card_metadatum from being saved:</h2>

      <ul>
        <% card_metadatum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :scryfall_id, style: "display: block" %>
    <%= form.text_field :scryfall_id %>
  </div>

  <div>
    <%= form.label :tcgplayer_id, style: "display: block" %>
    <%= form.number_field :tcgplayer_id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :mana_cost, style: "display: block" %>
    <%= form.text_field :mana_cost %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
