<p style="color: green"><%= notice %></p>

<%= render @pull_batch %>

<div>
  <%= link_to "Edit this pull batch", edit_pull_batch_path(@pull_batch) %> |
  <%= link_to "Back to pull batches", pull_batches_path %>

  <%= button_to "Destroy this pull batch", @pull_batch, method: :delete %>
</div>
