<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Iron Tusk Toolbox" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="container">
    <nav class="navbar" data-controller="navbar">
      <div class="navbar-brand">
      <%= link_to inventory_path, class: "navbar-item" do %>
        <%= image_tag "iron_tusk_logo_temp.png", size: "100", style: "max-height: unset;" %>
      <% end %> 
      <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-action="click->navbar#toggleMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      </div>
      <div class="navbar-menu">
        <%= link_to "Add Items", inventory_cards_add_items_path, class: "navbar-item" %>
        <%= link_to "Staging", inventory_cards_staging_path, class: "navbar-item" %>
        <%= link_to "Orders", orders_path, class: "navbar-item" %>
        <div class="navbar-item has-dropdown" data-action="click->navbar#toggleDropdown">
          <a class="navbar-link">Admin</a>

          <div class="navbar-dropdown">
            <%= link_to "Scryfall", admin_scryfall_path, class: "navbar-item" %>
            <%= link_to "Background Jobs", admin_good_job_path, class: "navbar-item" %>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "button is-danger" %>
        </div>
      </div>
    </nav>
    <div class="has-text-centered my-6">
      <p class="has-text-primary"><%= notice %></p>
      <p class="has-text-danger"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
